name: tests

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ^1.18
        id: go

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up dependencies
        run: go mod download

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.49

      - name: Run tests
        run: go test -race -v $(go list ./... | grep -v vendor)

      - name: Code Climate Coverage
        uses: paambaati/codeclimate-action@v3.2.0
        with:
          coverageCommand: 'go test -v ./... -coverpkg .,./it,./is,./validate,./validator -coverprofile=cover.out'
          debug: true
          coverageLocations: |
            ${{github.workspace}}/cover.out:gcov
